h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 4em;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-style: oblique;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html{
    background-color:#913f92;
}